<div class="modal-content">
  Are you sure you want to delete <%= @client.name %>
</div>
<div class="modal-footer">
  <%= link_to "Yes, Delete this Client", admin_client_path(@client), method: :delete, remote: true, class: 'btn waves-effect waves-light red' %>
</div>
