<div class="modal-content">
<ul class="errors"></ul>
  <%= form_for [:admin, @client], remote: true do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br><br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <div class="modal-footer">
      <%= f.submit 'Submit', class: 'btn' %>
    </div>
  <% end %>
</div>