<div class="row">
  <div class="col s12">
    <div class="section">
      <ul class="tabs">
        <li class="tab col s4"><a href="#client">Clients</a></li>
        <li class="tab col s4"><a href="#project">Projects</a></li>
        <li class="tab col s4"><a href="#quote">Quotes</a></li>
        <li class="tab col s4"><a href="#service">Services</a></li>
      </ul>
    </div>
  </div>
  <div id="client">
    <%= render 'admin/shared/add_client' %>
  </div>
  <div id="project">
    <%= render 'admin/shared/add_project' %>
  </div>
  <div id="quote">
    <%= render 'admin/shared/add_quote' %>
  </div>
  <div id="service">
  PLACEHOLDER
    <%#= render 'admin/shared/add_service' %>
  </div>
</div>
