<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Independent Music company based in London since 2006</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="services.html">Services</a></li>
          <li><a class="white-text" href="projects.html">Projects</a></li>
          <li><a class="white-text" href="testimonials.html">Testimonials</a></li>
          <li><a class="white-text" href="contact.html">Contact</a></li>
          <li><a class="white-text" href="about.html">About</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Soundcloud</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Linked In</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2015 <a class="red-text text-lighten-3" href="http://cromon.co.uk" target="_blank">Cromon Media Services</a>
    </div>
  </div>
</footer>