<!-- Nav Component -->
<nav role="navigation">
  <div class="nav-wrapper container">
  <%= link_to image_tag("logo-text-only-white.png", class: 'responsive-img'), root_path, class: 'brand-logo', id: 'logo-container' %>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Services</a></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Clients', clients_path %></li>
      <li><%= link_to 'Labs', labs_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <% if admin_signed_in? %>
      <li><%= link_to 'Admin', admin_dashboard_path %></li>
      <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Clients', clients_path %></li>
      <li><%= link_to 'Labs', labs_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <% if admin_signed_in? %>
      <li><%= link_to 'Admin', admin_dashboard_path %></li>
      <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<!-- Nav Component End -->