<div class="section hide-on-med-and-down">
  <div class="container">
    <div class="row">
    <% @quotes.each do |quote| %>
      <div class="col m4">
        <blockquote class="card-panel">
          <%= quote.text %><br /><%= quote.client.name %>
        </blockquote>
      </div>
      <% end %>
    </div>
  </div>
</div>