<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/projects/JoTongo.png">
        <div class="caption left-align">
          <!--<h3>Left Aligned Caption</h3>-->
          <h5 class="light grey-text text-lighten-3">Jo Tongo - Jongola</h5>
        </div>
      </li>
      <li>
        <img src="images/projects/WYWH.png">
        <div class="caption right-align">
          <!--<h3>Right Aligned Caption</h3>-->
          <h5 class="light grey-text text-lighten-3">Various - WYWH</h5>
        </div>
      </li>
      <li>
        <img src="images/projects/Nightbus.png">
        <div class="caption center-align">
          <!--<h3>This is our big Tagline!</h3>-->
          <h5 class="light grey-text text-lighten-3">Various - Nightbus 2</h5>
        </div>
      </li>
    </ul>
  </div>
</div>