<div class="container">
  <br />
  <div class="row section center-align">
    <div class="col s12 m12 l12"><h4>Our Recent Clients Include:</h4></div>
    <% @clients.each do |client| %>
      <div class="col s12 m4 l2 center-align">
        <ul>
          <li><%= image_tag client.image.url(:large), class: 'responsive-img white materialboxed circle', data: { caption: client.name } %></li>
          <li><%= client.name %></li>
          <li><%= link_to 'Website', "#{'http://'}" +  client.url, target: '_blank' %></li>
        </ul>
      </div>      
    <% end %>
  </div>
</div>