<div class="container">
  <br />
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      <h2>Mission Statement:</h2>
      <p><h4>We aren't here to reinvent the wheel, we are here to make it work better with different shapes.</h4></p>
    </div>
    <div class="col s12 m12 l12">
      <div class="col m5"><p><img src="http://placehold.it/300x300" alt="" class="responsive-img circle materialboxed"></p></div>
      <div class="col m7">
          <h3>Eugene Rasini</h3>
          <h5>Founder</h5>
          <a href="#" class="twitter">Twitter<span></span></a>
          <a href="#" class="linkedin">Linked In<span></span></a>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <h4>Skills:</h4>
      <ul class="list">
        <li>Mastering Engineer</li>
        <li>Label Manager</li>
        <li>Music Producer</li>
        <li>Ideas Man</li>
        <li>Novice Ruby on Rails coder</li>
      </ul>
    </div>
    <div class="col s12 m6 l6">
      <h4>Work of Note:</h4>
      <ul>
        <li>Alexandra Palace Fireworks 2014 [Music Programming, Music Editing]</li>
        <li>Light Sounds Dark - WYWH [Mastering, Restoration, Consultation]</li>
        <li>CSL - The Chillout Album [Mastering]</li>
        <li></li>
      </ul>
    </div>
    <div class="col l12 s12 m12">
      <h4>References:</h4>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col l12 s12 m12">
      <h4>Personal Words:</h4>
      <p>Having spent the last 18 years in the music industry; starting from humble, hardworking beginnings. I feel now is a good time to expand myself.</p>
      <p>Over the past few years </p>
    </div>      
  </div>
</div>