<%= render 'shared/slider' %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h2 class="header center red-text">Professional Services in Music &amp; Media</h2>
    <div class="row center">
      <h5 class="header col s12 light">We cover many aspects of the Music Industry. Check our site to see our latest Projects or some of the services we offer.</h5>
    </div>
    <div class="row center">
      <a href="services.html" id="download-button" class="btn-large waves-effect waves-light red darken-3">Find out More</a>
      <a href="contact.html" id="download-button" class="btn-large waves-effect waves-light red darken-3">Get In Touch</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text"><i class="mdi mdi-play"></i></h2>
          <h5 class="center">Professional Mastering</h5>

          <p class="light">Using a mix of the latest Digital Techonology and the warmth of Analogue gear, we can help you with all facets of your Mastering Needs.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Experienced Label Management</h5>

          <p class="light">With over 15 years Experience in the inductry, we have seen the transitional shift from Physical to Digital and back to some sort of strange equilibrium.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text"><i class="mdi mdi-beaker"></i></h2>
          <h5 class="center">Forward Thinking</h5>

          <p class="light">We never sit on our laurels here at Cromon, currently in the process of building a new content management system with Record Labels in mind, and other crazy disruptive ideas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/quotes' %>
