<div class="modal-content">
  Are you sure you want to delete <%= @project.title %>
</div>
<div class="modal-footer">
  <%= link_to "Yes, Delete this Project", admin_project_path(@project), method: :delete, remote: true, class: 'btn waves-effect waves-light red' %>
</div>
