<div class="modal-content">
<ul class="errors"></ul>
  <%= form_for [:admin, @project], remote: true do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br><br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :date %>
    <%= f.date_field :date, class: 'datepicker' %>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, class: 'browser-default' %>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea' %>
    <%= f.check_box :featured %>
    <%= f.label :featured %>
    <%= f.text_field :url %>
    <%= f.label :url %>
    <div class="modal-footer">
      <%= f.submit 'Submit', class: 'btn' %>
    </div>
  <% end %>
</div>