$("ul.errors").html("")
<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".project-index").html("<%= escape_javascript(render 'admin/shared/project_index') %>")
  $("#project-modal").closeModal()
<% end %>
