<div class="container">
  <div class="row">
    <br />
    <div class="col s12 m12 l12">Every year we work with lots of amazing and creative people, this section of the site is where we can showcase some of the more significant highlights of our work.</div>
  </div>
</div>

<div class="container">
  <div class="row">
  <br>
  <% @projects.each do |project| %>
    <div class="col s12 m12 l6">
      <div class="card large z-depth-2">
          <div class="card-image waves-effect waves-block waves-light white">
            <%= image_tag project.image.url(:large), class: 'activator responsive-img' %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= project.title %><i class="mdi-navigation-more-vert right"></i></span>
            <p><%= link_to 'Link', "#{'http://'}" + project.url, target: '_blank' %>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= project.title %><i class="mdi-navigation-close right"></i></span>
            <p>
              <div>
                <ul>
                  <li><p><%= project.date.strftime('%B %Y') %></p></li>
                  <li><p><%= project.client.name %></p></li>
                  <li><p>TAGS TO DO!!</p></li>
                  <li><%= project.description.html_safe %></li>
                </ul>
              </div>
            </p>
          </div>
        </div>
    </div>
  <% end %>
  </div>
</div>  
