@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
/* line 3, custom.scss */
body {
  font-family: 'Comfortaa', cursive;
  background: no-repeat;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FF5047 500%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FF5047 500%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #FF5047 500%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(5, #FF5047));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FF5047 500%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FF5047 500%); 
}
