<div class="section">
  <div class="container">
    <%= link_to 'Add Client', new_admin_client_path, remote: true, class: 'waves-effect waves-light btn-large red' %>
    <div class="new-client"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <table cellspacing="0" cellpadding="0" class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>URL</th>
          <th>Phone</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody class="client-index">
        <%= render 'admin/shared/client_index' %>
      </tbody>
    </table>
  </div>
</div>
<div id="client-modal" class="modal"></div>