<div class="section">
  <div class="container">
    <%= link_to 'Add Quote', new_admin_quote_path, remote: true, class: 'waves-effect waves-light btn-large red' %>
    <div class="new-quote"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <table cellspacing="0" cellpadding="0" class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Text</th>
          <th>Client</th>
        </tr>
      </thead>
      <tbody class="quote-index">
        <%= render 'admin/shared/quote_index' %>
      </tbody>
    </table>
  </div>
</div>
<div id="quote-modal" class="modal"></div>