<div class="section">
  <div class="container">
    <%= link_to 'Add Project', new_admin_project_path, remote: true, class: 'waves-effect waves-light btn-large  red' %>
    <%= link_to 'Import Projects', '#', remote: true, class: 'waves-effect waves-light btn-large grey' %>
  </div>
</div>
<div class="section">
  <div class="container">
  <table cellpadding="0" cellspacing="0" class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
          <th>Client</th>
          <th>Featured?</th>
          <th>URL?</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody class="project-index">
        <%= render 'admin/shared/project_index' %>
      </tbody>
    </table>
  </div>
</div>
<div id="project-modal" class="modal"></div>