<% @clients.each do |client| %>
  <tr>
    <td><%= client.id %></td>
    <td><%= image_tag client.image.url(:icon), class: 'responsive-img' %></td>
    <td><%= client.name %></td>
    <td><%= client.email %></td>
    <td><%= client.url %></td>
    <td><%= client.phone %></td>
    <td>
      <%= link_to 'Edit', edit_admin_client_path(client), remote: true, class: 'btn waves-effect waves-light' %>
      <%= link_to 'X', admin_client_delete_path(client), remote: true, class: 'btn waves-effect waves-light red' %>
    </td>
  </tr>
<% end %>
