<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= image_tag project.image.url(:icon), class: 'responsive-img' %></td>
    <td><%= project.title %></td>
    <td><%= project.date %></td>
    <td><%= project.description %></td>
    <td><%= project.client.name %></td>
    <td><%= project.featured ? 'Yes' : 'No' %></td>
    <td><%= project.url? ? 'Yes' : 'No' %></td>
    <td>
      <%= link_to 'Edit', edit_admin_project_path(project), remote: true, class: 'btn waves-effect waves-light' %>
      <%= link_to 'X', admin_project_delete_path(project), remote: true, class: 'btn waves-effect waves-light red' %>
    </td>
  </tr>
<% end %>
