<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.id %></td>
    <td><%= quote.text %></td>
    <td><%= quote.client.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_quote_path(quote), remote: true, class: 'btn waves-effect waves-light' %>
      <%= link_to 'X', admin_quote_delete_path(quote), remote: true, class: 'btn waves-effect waves-light red' %>
    </td>
  </tr>
<% end %>
