<div class="modal-content">
  Are you sure you want to delete <%= @quote.id %>
</div>
<div class="modal-footer">
  <%= link_to "Yes, Delete this Quote", admin_quote_path(@quote), method: :delete, remote: true, class: 'btn waves-effect waves-light red' %>
</div>
