<div class="modal-content">
<ul class="errors"></ul>
  <%= form_for [:admin, @quote], remote: true do |f| %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.label :client %>
    <%= f.collection_select :client_id, Client.all, :id, :name %>
    <div class="modal-footer">
      <%= f.submit 'Submit', class: 'btn' %>
    </div>
  <% end %>
</div>