$("ul.errors").html("")
<% if @quote.errors.any? %>
  <% @quote.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".quote-index").html("<%= escape_javascript(render 'admin/shared/quote_index') %>")
  $("#quote-modal").closeModal()
<% end %>
