<!DOCTYPE html>
<html>
<head>
  <title>CromonMediaSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>
<%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
